/* Navbar Styles */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #49bf75;
  color: #fff;
}

/* Make home button white in the basket.html */
.navbar__home {
  color: #fff;
}

/* Add underline on hover for links */
.navbar__title,
.navbar__home,
.navbar__basket {
  text-decoration: none;
  padding: 5px;
}

.navbar__title:hover,
.navbar__home:hover,
.navbar__basket:hover {
  text-decoration: underline;
}

.navbar__title {
  font-size: 24px;
  font-style: bold;
  color: white;
  margin-bottom: 0; 
}

.navbar__search-form {
  display: flex;
  align-items: center;
  margin-bottom: 0; 
}

.navbar__search-input {
  margin-right: 10px;
  padding: 5px; 
}

.navbar__search-button {
  background-color: #fff;
  color: #49bf75;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.navbar__basket {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.navbar__basket-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

/* Positioning for Show All Products link */
.show-all-products {
  text-align: left;
  margin-top: 30px; 
  margin-left: 20px;
}

/* Styling for the Show All Products link */
.show-all-products__link {
  text-decoration: underline;
  color: #2f1d48;
  padding: 5px;
}

/* Body and Heading */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
  text-align: center;
}

/* Logo */
img {
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 100px;
}

/* Search Form */
form {
  text-align: center;
  margin-bottom: 35px;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Product Grid */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px; 
  justify-content: space-between; 
}

.product {
  width: calc(30% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  border: 1px solid #ccc; 
}

.product-image {
  /* Center the image horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 100%; /* Ensure the image fits within the container */
}

/* collapsible.css */

/* Collapsible button */
.collapsible {
  background-color: #49bf75;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

/* The "x" symbol */
.collapsible:after {
  content: "\02795";
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

/* Expanded button style */
.active:after {
  content: "\2796";
}

/* Collapsible content (hidden by default) */
.filter-content {
  display: none;
  background-color: #f9f9f9;
  padding: 10px;
}

/* Show content when the button is clicked */
.collapsible.active + .filter-content {
  display: block;
}

/* Filter input fields container */
.filter-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for filter input fields */
.filter-inputs input {
  margin-bottom: 5px;
}

/* Add CSS styling for the success message box */
#success-message-box {
  display: inline-block;
  border: 2px solid #4CAF50; 
  background-color: #f2f2f2; 
  padding: 10px; 
  border-radius: 5px; 
}

/* Add CSS styling for the success message text */
#success-message-text {
  font-weight: bold; 
  margin: 0; 
}

.basket-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  margin-top: 40px;
  background-color: #f2f2f2;
}

.basket-item__details {
  margin-bottom: 5px;
  text-align: left;
}

.basket-item__image {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.basket-item__button {
  background-color: #fff;
  color: #49bf75;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.summary {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  padding-top: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 10px;
}

.summary__total-price {
  font-weight: bold;
}

.checkout-button {
  margin-top: 20px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.checkout-container {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.checkout-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.checkout-summary {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.checkout-summary__total-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.checkout-message {
  font-size: 20px;
  margin-top: 20px;
  color: #c72222;
  text-align: center;
}

