<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/" class="navbar__title">Enviro Health</a>
        <a href="/" class="navbar__home">Home</a>
    </div>

    <div class="checkout-container">
        <h1 class="checkout-title">Checkout</h1>

        <div class="checkout-summary">
            <h2>Summary</h2>
            <ul>
                {% for product in basket %}
                    <li>
                        {{ product['name'] }} - £{{ product['price'] }}
                    </li>
                {% endfor %}
            </ul>
            <p class="checkout-summary__total-price">Total: £{{ total_price }}</p>
        </div>

        <p class="checkout-message">Thank you for your order! Your payment of £{{ total_price }} has been received. Your purchase will be delivered in 2-3 working days.</p>
    </div>
</body>
</html>
